In [14]:
import pandas as pd
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 100)

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [27]:
life = pd.read_csv('life_expectancy_data.csv')
suicide = pd.read_csv('suicide_rates.csv')
obesity = pd.read_csv('obesity_data.csv')

In [28]:
life.shape

(2938, 22)

In [29]:
suicide.shape

(27820, 12)

In [35]:
obesity.shape

(8190, 5)

In [34]:
#only keep the rows with both sexes
obesity = obesity[obesity['Sex']=='Both sexes']

In [36]:
obesity.head(2)

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes

In [37]:
suicide.head(2)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent